*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: roboto;
}

.wrap{
    background: rgba(0,0,0,0.5) url(images/try2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    background-blend-mode: overlay;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 80px;
    background: linear-gradient(to top, transparent, rgba(0,0,0,0.6));
}

header .logo{
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    float: left;
}

header .menu{
    float: right;
    margin-top: 5px;

}

header ul li a:hover::after {
    width: 100%;
    opacity: 1;
}

header ul li a::after {
    content: "";
    display: block;
    width: 10%;
    height: 2px;
    background: cyan;
    margin: 0 auto;
    margin-top: 4px;
    transition-delay: 0.1s;
    opacity: 0;
}


header ul li{
    display: inline-block;
}

header ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    margin: 0 25px;
    font-weight: 300;
    letter-spacing: 1px;
}


